/* ---- Start Offline Page ---- */

.offline {
    p {
        margin-bottom: 4rem;
    }

    .main--btn {
        display: block;
        width: 15rem;
        margin: 1.5rem auto;
        padding: 0.35rem;
    }
}
